body {
  font-family: Arial, sans-serif;
  background-image: ('./hey.png');
  background-color: #1c241c;
}

/* Navigation bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 0 20px;
  height: 66px;
  color: white;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #1c1f1c;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  top: 100%;
  left: 0;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

/* down bar */

.downbar {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  position: fixed;     
  bottom: 0;           
  left: 0;
  z-index: 1000;
}
